
.aside{
    background:var(--clr-white);
}

.aside-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1570px;
    display: grid;
    grid-template-columns:1fr;
    /* grid-auto-flow: row dense; */
  }

  .aside-left{
      display:flex;
      font-family:'Rye', cursive;
      padding:80px 30px;
      color:var(--clr-primary);
  }

  .aside-right{
    padding:80px 0 80px 30px;
    /* text-align:center; */
  }

  .aside-right img{
      width:500px;
      height:400px;
      object-fit: contain;
  }

  @media screen and (min-width:1244px){
      .aside-center{
        grid-template-columns: 1fr 1fr;
      }

      .aside-left{
        justify-content: space-around;
        align-items:center;
          padding:0 80px;
      }
  }


  @media screen and (min-width:992px) and (max-width:1243px){
      .aside-center{
        grid-template-columns: 1fr 1fr;
      }

      .aside-left{
        justify-content: space-around;
        align-items:center; 
        padding:0 30px;
      }
      .aside-left h2{
          font-size:28px;
      }

      .aside-right{
          text-align:center;
      }

      .aside-right img{
          width:400px;
          height:350px;
      }
  }


  @media screen and (max-width:993px){
      .aside-center{
          width:100%;
      }

      .aside-left{
          display:flex;
          order:1;
          padding:80px 30px 0 30px;
      }
      .aside-left h2{
          font-size:25px;
      }

      .aside-right{
          display:flex;
          order:2;
          padding:30px;
      }

  }

  @media screen and (max-width:550px){
      .aside-right img{
          width:370px;
          height:350px;
      }
  }



/* 
========================================
THE SECTION OF THE RESPONSIVENESS
===========================================
*/

@media screen and (max-width:320px){

    .aside-left h2{
        font-size:20px;
    }

    .aside-right{
        text-align:center;
    }
  
    .aside-right img{
      width:240px;
      height:250px;
    }
  
    .btn{
      padding: 0.8rem 0.65rem;
      font-size: 0.675rem;
    }
}

@media screen and (max-width:375px) and (min-width:321px){

    .aside-left{
        padding:80px 18px 0 30px;
    }
    .aside-left h2{
        font-size:20px;
    }

    .aside-right{
        text-align:center;
    }
  
    .aside-right img{
      width:300px;
      height:270px;
    }
  
    .btn{
      padding: 0.8rem 0.65rem;
      font-size: 0.675rem;
    }
}


@media screen and (max-width:425px) and (min-width:376px){

    .aside-left{
        padding:80px 18px 0 30px;
    }
    .aside-left h2{
        font-size:20px;
    }

    .aside-right{
        text-align:center;
    }
  
    .aside-right img{
      width:330px;
      height:270px;
    }
  
    .btn{
      padding: 0.8rem 0.65rem;
      font-size: 0.675rem;
    }
}


