
.hero {
    margin-top: -5rem;
    padding-top: 5rem;
    position: relative;
    background:var(--clr-secondary);
  }
  
  .hero-center { 
    height: 100vh;
    width:100vw;
    display: grid;
    align-items: center;
    position: absolute;
    top:80px;
    left:0;
    right:0;
  }
  
  #particles-js{
    height:100vh;
    width:100%;
  }
  
  .hero-info {
    background:#bfdabf81;
    width:100%;
    text-align:center;
    padding:20px 0;
    color: var(--clr-primary);
  }

  .hero-info p{
      font-family:'Yesteryear', cursive;
      font-size:25px;
      color:var(--clr-white);
      text-shadow:1px 1px var(--clr-primary);
  }

  
  .hero-img {
    display: none;
  }
  
  .hero-info h3 {
    font-family:'Rye',cursive;
    font-size:40px;
  }

  .hero-info h1{
      color:var(--clr-white);
      text-shadow:4px 4px var(--clr-primary);
      font-weight:bolder;
      font-family:'Rowdies', cursive;
      font-size: 65px !important;;
  }
  
  
  .hero .btn {
    margin-top: 1.25rem;
  }

  .name{
      display:none;
  }
  

  @media screen and (min-width: 992px) {
    .hero::before {
      content: "";
      position: absolute;
      top: 0;
      left: 60%;
      right: 0;
      bottom: 0;
      /* background:#bfdabf81; */
      border-bottom:4px solid var(--clr-lemon);
    }
    
    .hero-center {
      grid-template-columns: repeat(12, 1fr);
    }
  
    .hero-info {
      grid-row: 1/1;
      grid-column: 1 / span 8;
    }
  
    .hero-img {
      display: block;
      grid-row: 1/1;
      grid-column: 8/-1;
      border-right:10px solid var(--clr-lemon);
      object-fit: contain;
      height:60%;
      width:60%;
    }

    .name{
        display:block;
        position:absolute;
        bottom:250px;
        right:23%;
        font-family:'rye';
        color:var(--clr-primary);
    }

    .name h3{
        font-size:20px;
    }
    
  }
  
  
  @media screen and (min-width: 1170px) {  
    .hero h1{
      font-size:3.7rem;
    }
  
    .hero-info {
      grid-column: 1 / span 8;
    }

    .name{
        display:block;
        position:absolute;
        bottom:200px;
        right:23%;
        font-family:'rye';
        color:var(--clr-primary);
    }

    .name h3{
        font-size:25px;
    }
  
  }



  /* 
  ==========================================
  THE SECTION OF THE RESPONSIVENESS
  ==========================================
  */
  @media screen and (max-width:320px){
    .hero::before{
        display:none;
    }

    .hero-info{
        margin-top:50px;
    }

    .hero-info h3{
        font-size:30px;
    }

    .hero-info h1{
        font-size:40px!important;
        text-shadow:2px 2px var(--clr-primary);
    }
  }


  
  @media screen and (max-width:375px) and (min-width:321px){
    .hero::before{
        display:none;
    }

    .hero-info{
        margin-top:50px;
    }

    .hero-info h3{
        font-size:30px;
    }

    .hero-info h1{
        font-size:40px!important;
        text-shadow:2px 2px var(--clr-primary);
    }
  }


  @media screen and (max-width:425px) and (min-width:376px){
    .hero::before{
        display:none;
    }

    .hero-info{
        margin-top:50px;
    }

    .hero-info h3{
        font-size:30px;
    }

    .hero-info h1{
        font-size:40px!important;
        text-shadow:2px 2px var(--clr-primary);
    }
  }


