
/* social links */
.social-links {
    margin-top: 2rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
  }
  .social-link {
    font-size: 1.5rem;
    color: var(--clr-lemon);
    transition: var(--transition);
  }
  .social-link:hover {
    color: var(--clr-primary);
  }